<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,minimum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
	<title>奇遇时光 - CITYZEN</title>
	<link rel="stylesheet" href="css/style.css">
	<script>
	~(function() {
        var oHtml = document.documentElement;
        oHtml.style.fontSize = oHtml.clientWidth / (750 / 40) + 'px';
    })();
    </script>
</head>
<body>
<main class="app" id="app" v-cloak>
	<!-- 选择性别 -->
	<section class="chose-gender-bg" v-if="!gif_end">
		<section v-show="!gender">
			<div class="gender-title">选择您的性别</div>
			<div class="gender">
				<div class="female" v-on:click.stop.prevent="gender = 'female'"></div>
				<div class="male" v-on:click.stop.prevent="gender = 'male'"></div>
			</div>
		</section>
		<!-- video -->
		<section v-if="!skip_animate && gender" class="myvideo-area">
			<video class="myvideo" id="myvideo" v-bind:src="video_src" autoplay webkit-playsinline playsinline></video>
			<div class="skip" v-on:click.stop.prevent="skipVideo"></div>
		</section>
		<!-- gif -->
		<section>
			<div class="gif" id="gif">
			</div>
		</section>
	</section>

	<!-- b-1 -->
	<section v-if="step == 1">
		<div class="black-mask" v-if="considering && !posted"></div>
		<template v-if="!posted">
			<header class="action-name"></header>
			<section class="bubbles">
				<div class="bubble"><span class="b">选择2017年就行,暂时写死</span></div>
				<div class="bubble-tip b">{{tip_text}}</div>
			</section>
		</template>
		<footer>
			<div class="pill-4"></div>
		</footer>
		<div class="select-time" v-bind:class="{'onmask':considering}" v-if="!posted">
			<div class="date-box clearfix">
				<section class="nums clearfix">
					<div class="data" v-for="y in year_arr"><span>{{y}}</span></div>
					<select v-model="year">
						<option v-for="y in years" v-bind:value="y">{{y}}</option>
					</select>
				</section>
				<section class="nums clearfix">
					<div class="data" v-for="m in month_arr"><span>{{m}}</span></div>
					<select v-model="month">
						<option v-for="m in months" v-bind:value="m">{{m}}</option>
					</select>
				</section>
				<section class="nums clearfix">
					<div class="data" v-for="d in day_arr"><span>{{d}}</span></div>
					<select v-model="day">
						<option v-for="d in days" v-bind:value="d">{{d}}</option>
					</select>
				</section>
			</div>
			<div class="data-box-tip">请选择日期</div>
			<div class="btn-a" v-on:click.stop.prevent="saveToPill" v-if="!considering">存入时间胶囊</div>
			<div class='a-btns' v-if="considering">
				<div class="btn" v-on:click.stop.prevent="makeSure">确定</div>
				<div class="btn color-2" v-on:click.stop.prevent="considering = false">取消</div>
			</div>	
		</div>
	</section>
	<!-- b-3-success -->
	<section v-if="step == 3 && posted">
		<div class="black-mask"></div>
		<header class="b-3-title"></header>
		<div class="b-3-textarea">
			<textarea placeholder="写下你想说的话"></textarea>
		</div>
		<footer class="onmask">
			<div class="pill-3"></div>
		</footer>
		<div class="select-time">
			<div class="btn-b" v-on:click.stop.prevent="saveText">存入时间胶囊</div>
		</div>
	</section>
	<!-- b-4-success -->
	<section v-if="step == 4 && match_success">
		<footer>
			<div class="pill-3 b-4"></div>
		</footer>
		<div class="black-mask">
			<div class="a-3-title"></div>
			<div class="a-3-cat"></div>
			<div class="b-4-text-success">
				<input type="text" class="text-token" v-model="token" id="mytoken" disabled>
				<div class="a-2-copy" v-on:click.stop.prevent="copyToken"></div>
			</div>
		</div>
	</section>
	<!-- b-4-fail -->
	<section v-if="step == 4 && !match_success">
		<footer>
			<div class="pill-3 b-4"></div>
		</footer>
		<div class="black-mask">
			<div class="a-3-title none"></div>
			<div class="a-3-cat"></div>
			<div class="b-4-text-fail">
				<input type="text" class="text-token" v-model="token" id="mytoken" disabled>
				<div class="a-2-copy" v-on:click.stop.prevent="copyToken"></div>
			</div>
		</div>
	</section>
	<!-- b-5 继续猜-->
	<section v-if="step == 5">
		<footer>
			<div class="pill-4"></div>
		</footer>
		<header class="action-name"></header>
		<div class="black-mask">
			<div class="b-5-title"></div>
			<div class="b-5-select">
				<div class="select">{{year}}</div>
				<div class="select">{{month}}</div>
				<div class="select">{{day}}</div>
				<div class="select-tip">
					你还有<span>{{times}}</span>次机会哦~
				</div>
				<div class="btn-b-5" v-on:click.stop.prevent="guessAgain">确  定</div>
			</div>	
		</div>
	</section>
	<!-- b-6 道歉信-->
	<section v-if="step == 6">
		<footer>
			<div class="pill-3"></div>
		</footer>
		<div class="black-mask">
			<div class="b-6-title"></div>
			<div class="b-3-textarea">
				<textarea placeholder="写下你想说的话"></textarea>
			</div>
			<div class="select-time">
				<div class="btn-b" v-on:click.stop.prevent="failText">我错了</div>
			</div>
		</div>
	</section>
</main>
<script src="./js/vue.min.js"></script>
<script src="./js/vue-resource.js"></script>
<script>
Vue.http.options.emulateJSON = true;
Vue.http.options.emulateHTTP = true;
var vm = new Vue({
	el: '#app',
	data: {
		step: 1,
		year: '2000',
		month: '01',
		day: '01',
		years: [],
		months: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'],
		days:[],
		considering: false,
		posted: false,
		match_success: false,
		times: 3,
		gender: '',
		skip_animate: false,
		gif_end: false,
		video_src: '',
		token: 'ABCD1234.COM',
		tip_text: '别说我没提醒你'
	},
	mounted: function() {
		var year = 1967;
		for (i = 1; i <= 50; i++) {
			year += 1;
			this.years.push(year.toString());
		}
		for (j = 1; j <= 31; j++) {
			this.days.push(j < 10 ? '0' + j.toString() : j.toString());
		}
	},
	computed:{
		year_arr: function() {
			if(!this.year || this.year == '') return;
			return [].map.call(this.year.toString(), function(i) {
				return i;
			});
		},
		month_arr:function(){
			if(!this.month || this.month == '') return;
			return [].map.call(this.month.toString(), function(i) {
				return i;
			});
		},
		day_arr: function() {
			if (!this.day || this.day == '') return;
			return [].map.call(this.day.toString(), function(i) {
				return i;
			})
		}
	},
	watch: {
		year: function(n, o) {
			if (n == o) return;
			this.month = '01';
			this.day = '01';
			this.setDays();
		},
		month: function(n, o) {
			if (n == o) return;
			this.day = '01';
			this.setDays();
		},
		gender: function(v) {
			if (v && v != '') {
				if (v == 'male') {
					this.video_src = './video/b-m.mp4';
				} else {
					this.video_src = './video/b-fm.mp4';
				}
				setTimeout(function() {
					myvideo = document.getElementById('myvideo');
					if (myvideo.paused) {
						myvideo.play();
					}
					myvideo.onended = function() {
						this.skipVideo();
					}.bind(this);
				}.bind(this))
			}
		},
		considering:function(bool){
			if(!bool){
				this.tip_text = '别说我没提醒你';
			} else {
				this.tip_text = '遗忘的后果很严重';
			}
		}
	},
	methods: {
		loadGif: function() {
			var mygif = new Image();
			mygif.src = './images/animation.gif';
			mygif.onload = function() {
				var gifDOM = document.getElementById('gif');
				gifDOM.appendChild(mygif);
				setTimeout(function() {
					gifDOM.removeChild(mygif);
					this.gif_end = true;
				}.bind(this), 13480);
			}.bind(this);
		},
		skipVideo: function() {
			this.skip_animate = true;
			this.loadGif();
		},
		setDays: function() {
			if (!this.year || !this.month) return;
			var is_leap_year = (Number(this.year) % 4 == 0 && Number(this.year) % 100 != 0) || Number(this.year) % 400 == 0;
			var max_day, days = [];
			var large_month = [1, 3, 5, 7, 8, 10, 12];
			if (Number(this.month) == 2) {
				if (is_leap_year) {
					max_day = 29;
				} else {
					max_day = 28;
				}
			} else if (large_month.indexOf(Number(this.month)) != -1) {
				max_day = 31;
			} else {
				max_day = 30;
			}
			for (i = 1; i <= max_day; i++) {
				days.push(i < 10 ? '0' + i.toString() : i.toString());
			}
			this.days = days;
		},
		saveToPill: function() {
			this.considering = true;
		},
		makeSure: function() {
			this.considering = false;
			this.posted = true;
			if (this.year == '2017') {
				// correct 写信
				this.step = 3;
				this.match_success = true;
			} else {
				// wrong 再猜
				this.times -= 1;
				this.match_success = false;
				if (this.times == 0) {
					this.step = 6;
				} else {
					this.step = 5;
				}
			}
		},
		guessAgain: function() {
			this.step = 1;
			this.considering = true;
			this.posted = false;
		},
		saveText: function() {
			this.step = 4;
			this.match_success = true;
		},
		failText: function() {
			this.step = 4;
			this.match_success = false;
		},
		copyToken: function() {
			Copy('看到这段文字说明复制功能可用');
		}
	}
});

function Copy(str) {
	var mytoken = document.getElementById('mytoken');
	mytoken.focus();
    mytoken.selectionStart = 0;
    mytoken.selectionEnd = mytoken.value.length;
    var canuse = document.execCommand('copy') ? true : false;
	if (canuse) {
		alert('复制成功');
	} else {
		mytoken.removeAttribute('disabled');
	}
}
</script>
</body>
</html>