---
layout: time
permalink: /time/
---

<div class="mask"></div>

{% include header.html %}

<div class="time-container">
  <h1>TIME</h1>
  <div class="time-record" id="time"></div>
  <p class="tip">From 2017-10-01 12:00:00</p>
  <p class="tip">从开始，到现在</p>
</div>

{% include footer.html %}

<script>
  var getFontSize = function() {
  var oHtml = document.documentElement;
  var screenWidth = oHtml.clientWidth;
    if (screenWidth <= 375) {
      oHtml.style.fontSize = '20px';
    } else if (screenWidth >= 750) {
      oHtml.style.fontSize = '40px';
    } else {
      oHtml.style.fontSize = screenWidth / (750 / 40) + 'px';
    }
  }

  getFontSize();

  window.onresize = function() {
    getFontSize();
  }

  var timeEl = document.getElementById('time');
  var start = new Date('2017/10/01 12:00:00').getTime();

  CountDown();
  setInterval(function() {
    CountDown();
  }, 1000);

  function CountDown() {
    var now = new Date().getTime();
    var deta = (now - start) / 1000;
    var d = Math.floor(deta / 60 / 60 / 24);
    var h = Math.floor(deta / 60 / 60) - (d * 24);
    var m = Math.floor(deta / 60) - (d * 24 * 60) - (h * 60);
    var s = Math.floor(deta - (d * 24 * 60 * 60) - (h * 60 * 60) - (m * 60));

    var template = `
    <hgroup>
      <div class="num">${d}</div>
      <small>days</small>
    </hgroup>
    <hgroup>
      <div class="num">${h}</div>
      <small>hours</small>
    </hgroup>
    <hgroup>
      <div class="num">${m}</div>
      <small>minutes</small>
    </hgroup>
    <hgroup>
      <div class="num">${s}</div>
      <small>secends</small>
    </hgroup>
    `;

    timeEl.innerHTML = template;
  }
</script>