body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
hgroup,
article {
  margin: 0;
  padding: 0;
}
fieldset,
img {
  border: 0;
}
:focus {
  outline: 0;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var,
optgroup,
i {
  font-weight: normal;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
input,
button,
textarea,
select,
optgroup,
option {
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  font-family: inherit;
}
code,
kbd,
samp,
tt {
  font-size: 100%;
}
input,
button,
textarea,
select {
  *font-size: 100%;
}
body {
  line-height: 1.5;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
}
sup,
sub {
  font-size: 100%;
}
:link,
:visited,
ins {
  text-decoration: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
main {
  display: block;
}
*::selection {
  background-color: #ccc;
}
img {
  max-width: 100%;
}
.clearfix:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  content: ".";
}
.clearfix {
  display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/* End hide from IE-mac */
input,
textarea,
select,
option {
  -webkit-appearance: none;
}
input[disabled] {
  color: #fff;
  -webkit-text-fill-color: #fff;
  -webkit-opacity: 1;
  opacity: 1;
}
[v-cloak] {
  display: none;
}
.black-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.app {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url('../images/bg.png') 0 0 no-repeat;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: scroll;
}
.app .action-name {
  width: 15.65rem;
  height: 5.65rem;
  background: url('../images/title.png') center center no-repeat;
  background-size: contain;
  margin: .5rem auto;
}
.app .bubbles {
  position: relative;
}
.app .bubbles .bubble {
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 0 0 .25rem;
  width: 8.15rem;
  height: 4.95rem;
  background: url('../images/bubble.png') center center no-repeat;
  background-size: contain;
}
.app .bubbles .bubble textarea,
.app .bubbles .bubble span {
  text-align: center;
  width: 70%;
  height: 60%;
  margin: 10% 15%;
  resize: none;
  font-size: .65rem;
  background: none;
  border: none;
  color: #fff;
  outline: none;
}
.app .bubbles .bubble textarea::-webkit-input-placeholder,
.app .bubbles .bubble span::-webkit-input-placeholder {
  color: #fff;
}
.app .bubbles .bubble textarea:-ms-input-placeholder,
.app .bubbles .bubble span:-ms-input-placeholder {
  color: #fff;
}
.app .bubbles .bubble textarea:-moz-placeholder,
.app .bubbles .bubble span:-moz-placeholder {
  color: #fff;
}
.app .bubbles .bubble textarea::-moz-placeholder,
.app .bubbles .bubble span::-moz-placeholder {
  color: #fff;
}
.app .bubbles .bubble span {
  display: inline-block;
}
.app .bubbles .bubble span.b {
  font-size: .8rem;
}
.app .bubbles .bubble-tip {
  position: absolute;
  font-size: .6rem;
  color: #301200;
  top: 5rem;
  left: 50%;
  margin-left: 4rem;
  line-height: .8rem;
  font-weight: bold;
}
.app .bubbles .bubble-tip.b {
  color: #ff4800;
  width: 3rem;
  text-align: center;
}
.app .bubbles.onmask {
  z-index: 10;
}
.app .bubbles.onmask .bubble-tip {
  color: #fff;
}
.app .bubbles.onmask .bubble textarea {
  color: #fffca3;
}
.app footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.app footer.onmask {
  z-index: 10;
}
.app footer.relative {
  position: absolute;
  text-align: center;
  z-index: 99;
}
.app footer .btn-b {
  display: inline-block;
  background: #281102;
  border: 1px solid #ffac7b;
  color: #fff;
  font-size: .85rem;
  width: 7.3rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  margin: 2.75rem auto 0;
  position: relative;
  z-index: 10;
}
.app footer .btn-b:after {
  content: '';
  display: inline-block;
  width: .55rem;
  height: .625rem;
  background: url('../images/triangle.png') center center no-repeat;
  background-size: .55rem auto;
  vertical-align: middle;
  margin: -0.15rem auto auto 0.25rem;
}
.app .pill {
  display: block;
  height: 6.425rem;
  background: url('../images/pill2.png') center center no-repeat;
  background-size: contain;
  margin: 0 auto 2.75rem;
  position: relative;
}
.app .pill .citizen-1 {
  width: 6.1rem;
  height: 1rem;
  background: url('../images/citizen-1.png') center bottom no-repeat;
  background-size: contain;
  margin: 0 auto 0;
  padding-top: .65rem;
}
.app .pill .citizen-1.b-3 {
  padding-top: 1.55rem;
}
.app .pill.b-3 {
  margin: 0 auto .35rem;
}
.app .pill.b-4 {
  margin: 0 auto 2rem;
}
.app .select-time {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.app .select-time .data-box-tip {
  font-size: .7rem;
  color: #fff;
  text-align: center;
  letter-spacing: .1rem;
  margin: .1rem auto 0;
}
.app .select-time .date-box {
  border: 1px solid #000;
  width: 8.55rem;
  height: 2.5rem;
  background: #301200;
  margin: .15rem auto 0;
}
.app .select-time .date-box .nums {
  float: left;
  margin: .25rem .075rem 0;
  position: relative;
}
.app .select-time .date-box .nums .data {
  border: 1px solid #000;
  border-radius: .1rem;
  background-image: -moz-linear-gradient(90deg, #ffffff 19%, #ffffff 49%, #c9c9c9 60%, #ffffff 100%);
  background-image: -webkit-linear-gradient(90deg, #ffffff 19%, #ffffff 49%, #c9c9c9 60%, #ffffff 100%);
  background-image: -ms-linear-gradient(90deg, #ffffff 19%, #ffffff 49%, #c9c9c9 60%, #ffffff 100%);
  width: .9rem;
  height: 1.9rem;
  font-size: .6rem;
  color: #000000;
  text-align: center;
  float: left;
  line-height: 1.9rem;
}
.app .select-time .date-box .nums .data span {
  display: block;
  -moz-transform: matrix(1.94997648, 0, 0, 1.9479283, 0, 0);
  -webkit-transform: matrix(1.94997648, 0, 0, 1.9479283, 0, 0);
  -ms-transform: matrix(1.94997648, 0, 0, 1.9479283, 0, 0);
}
.app .select-time .date-box .nums select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.app .select-time .btn-a {
  background: #281102;
  border: 1px solid #ffac7b;
  color: #fff;
  font-size: .7rem;
  width: 5.55rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  margin: 1.25rem auto .8rem;
}
.app .select-time .btn-a:after {
  content: '';
  display: inline-block;
  width: .55rem;
  height: .625rem;
  background: url('../images/triangle.png') center center no-repeat;
  background-size: .55rem auto;
  vertical-align: middle;
  margin: -0.15rem auto auto 0.25rem;
}
.app .select-time .btn-b {
  background: #281102;
  border: 1px solid #ffac7b;
  color: #fff;
  font-size: .85rem;
  width: 7.3rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  margin: 0 auto 2.25rem;
  position: relative;
  z-index: 10;
}
.app .select-time .btn-b:after {
  content: '';
  display: inline-block;
  width: .55rem;
  height: .625rem;
  background: url('../images/triangle.png') center center no-repeat;
  background-size: .55rem auto;
  vertical-align: middle;
  margin: -0.15rem auto auto 0.25rem;
}
.app .select-time .a-btns {
  text-align: center;
  margin: 1.25rem auto .8rem;
}
.app .select-time .a-btns .btn {
  display: inline-block;
  background: #281102;
  border: 1px solid #ffac7b;
  color: #fff;
  font-size: .7rem;
  text-align: center;
  width: 5.55rem;
  height: 1.5rem;
  line-height: 1.5rem;
  vertical-align: top;
  margin: 0 1rem;
}
.app .select-time .a-btns .btn.color-2 {
  background: #6e1b02;
}
.app .select-time .a-btns .btn:after {
  content: '';
  display: inline-block;
  width: .55rem;
  height: .625rem;
  background: url('../images/triangle.png') center center no-repeat;
  background-size: .55rem auto;
  vertical-align: middle;
  margin: -0.15rem auto auto 0.25rem;
}
.app .select-time.onmask {
  z-index: 10;
}
.a-2-title {
  width: 11.275rem;
  height: 4.8rem;
  background: url('../images/a-2-title.png') center center no-repeat;
  background-size: contain;
  margin: 2.5rem auto 0;
}
.a-2-title.none {
  background: none;
}
.a-2-cat {
  width: 9.05rem;
  height: 8.325rem;
  background: url('../images/a-2-cat.png') center center no-repeat;
  background-size: contain;
  margin: .75rem 0 0 2.75rem;
}
.a-2-text {
  position: relative;
  width: 12.3rem;
  height: 9.05rem;
  background: url('../images/a-2-text.png') center center no-repeat;
  background-size: contain;
  margin: -1.9rem auto 0;
}
.a-2-text .a-2-copy {
  position: absolute;
  width: 1.8rem;
  height: 2rem;
  background: url('../images/a-2-copy.png') center center no-repeat;
  background-size: contain;
  top: 2.5rem;
  right: .275rem;
}
.b-3-title {
  width: 15.3rem;
  height: 4.7rem;
  background: url('../images/b-3-title.png') center center no-repeat;
  background-size: contain;
  position: relative;
  z-index: 10;
  margin: 1rem auto 0;
}
.b-3-textarea {
  width: 100%;
  height: 19.95rem;
  background: url('../images/b-3-textarea.png') center center no-repeat;
  background-size: contain;
  position: relative;
  z-index: 11;
  margin: .5rem auto 0;
}
.b-3-textarea textarea {
  width: 46%;
  height: 60%;
  margin: 12% 27%;
  resize: none;
  font-size: .75rem;
  background: none;
  border: none;
  color: #281102;
  outline: none;
}
.b-3-textarea textarea::-webkit-input-placeholder {
  color: #fff;
}
.b-3-textarea textarea:-ms-input-placeholder {
  color: #fff;
}
.b-3-textarea textarea:-moz-placeholder {
  color: #fff;
}
.b-3-textarea textarea::-moz-placeholder {
  color: #fff;
}
.b-4-text-success {
  background: url('../images/b-4-text-success.png') center center no-repeat;
  position: relative;
  width: 12.35rem;
  height: 9.5rem;
  background-size: contain;
  margin: -1.9rem auto 0;
}
.b-4-text-success .a-2-copy {
  position: absolute;
  width: 1.8rem;
  height: 2rem;
  top: 2.5rem;
  right: .275rem;
}
.b-4-text-fail {
  background: url('../images/b-4-text-fail.png') center center no-repeat;
  position: relative;
  width: 12.35rem;
  height: 9.5rem;
  background-size: contain;
  margin: -1.9rem auto 0;
}
.b-4-text-fail .a-2-copy {
  position: absolute;
  width: 1.8rem;
  height: 2rem;
  top: 2.5rem;
  right: .275rem;
}
.b-5-title {
  background: url('../images/b-5-title.png') center center no-repeat;
  background-size: contain;
  position: absolute;
  width: 13.4rem;
  height: 7.35rem;
  top: 7rem;
  left: 2rem;
}
.b-5-select {
  position: absolute;
  top: 14.25rem;
  left: 0;
  width: 100%;
  text-align: center;
}
.b-5-select select,
.b-5-select .select {
  background: #281102;
  border: 1px solid #ffac7b;
  color: #fff;
  font-size: 1rem;
  border-radius: .2rem;
  height: 3.15rem;
  padding: 0 1.25rem;
  text-align: center;
}
.b-5-select .select {
  display: inline-block;
  line-height: 3.15rem;
}
.b-5-select .select-tip {
  font-size: .85rem;
  color: #fff;
  text-align: center;
  margin-top: .25rem;
}
.b-5-select .select-tip span {
  font-size: 1.25rem;
  margin: 0 .25rem;
}
.b-5-select .btn-b-5 {
  background: #281102;
  border: 1px solid #ffac7b;
  color: #fff;
  font-size: .85rem;
  width: 5.7rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  margin: 1rem auto 2.25rem;
  position: relative;
}
.b-6-title {
  width: 14.5rem;
  height: 5.45rem;
  background: url('../images/b-6-title.png') center center no-repeat;
  background-size: contain;
  position: relative;
  z-index: 10;
  margin: 1rem auto 0;
}
.btn-b-6 {
  display: inline-block;
  background: #281102;
  border: 1px solid #ffac7b;
  color: #ff4800;
  font-size: .85rem;
  width: 7.3rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  margin: 2.75rem auto 0;
  position: relative;
  z-index: 10;
}
.btn-b-6.arrow:after {
  content: '';
  display: inline-block;
  width: .55rem;
  height: .625rem;
  background: url('../images/triangle.png') center center no-repeat;
  background-size: .55rem auto;
  vertical-align: middle;
  margin: -0.15rem auto auto 0.25rem;
}
.c-text-success {
  width: 14.4rem;
  height: 16.15rem;
  background: url('../images/c-text-success.png') center center no-repeat;
  background-size: contain;
  margin: 2rem auto 0;
}
.btn-c-success {
  display: inline-block;
  background: #281102;
  border: 1px solid #ffac7b;
  color: #ff4800;
  font-size: .85rem;
  width: 7.3rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  margin: 2.75rem auto 0;
  position: relative;
  z-index: 10;
}
.c-text-fail {
  width: 15.85rem;
  height: 5.2rem;
  background: url('../images/c-text-fail.png') center center no-repeat;
  background-size: contain;
  margin: 1rem auto 0;
  position: relative;
  z-index: 10;
}
.c-textarea {
  width: 100%;
  height: 12.65rem;
  background: url('../images/c-textarea.png') center center no-repeat;
  background-size: contain;
  position: relative;
  z-index: 11;
  margin: .25rem auto 0;
}
.c-textarea p {
  display: inline-block;
  width: 46%;
  height: 60%;
  margin: 12% 27% 0;
  resize: none;
  font-size: .75rem;
  background: none;
  border: none;
  color: #281102;
  outline: none;
}
.c-text-fail-2 {
  width: 15.15rem;
  height: 7.8rem;
  background: url('../images/c-text-fail-2.png') center center no-repeat;
  background-size: contain;
  margin: -0.5rem auto 0;
}
.chose-gender-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  z-index: 100;
}
.gender-title {
  width: 100%;
  font-size: 2.1rem;
  color: #fff;
  -moz-transform: matrix(0.69444444, 0, 0, 0.69427083, 0, 0);
  -webkit-transform: matrix(0.69444444, 0, 0, 0.69427083, 0, 0);
  -ms-transform: matrix(0.69444444, 0, 0, 0.69427083, 0, 0);
  position: absolute;
  left: 0;
  top: 6.45rem;
  text-align: center;
  z-index: 15;
  letter-spacing: .75rem;
}
.gender {
  position: absolute;
  top: 14rem;
  left: 0;
  width: 100%;
  text-align: center;
}
.gender .male,
.gender .female {
  display: inline-block;
  width: 4.65rem;
  height: 8.95rem;
  margin: 0 1.5rem;
}
.gender .male {
  background: url('../images/male.png') center top no-repeat;
  background-size: contain;
}
.gender .female {
  background: url('../images/female.png') center top no-repeat;
  background-size: contain;
}
.myvideo-area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.myvideo-area .myvideo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.myvideo-area .skip {
  position: absolute;
  right: .5rem;
  top: .5rem;
  width: 2.5rem;
  height: 2.5rem;
  background: url('../images/skip.png') center center no-repeat;
  background-size: contain;
}
.a-3-title {
  width: 12.5rem;
  height: 6.5rem;
  background: url('../images/a-3-title.png') center center no-repeat;
  background-size: contain;
  margin: 1rem auto 0;
}
.a-3-title.none {
  background: none;
}
.a-3-text {
  position: relative;
  width: 12.35rem;
  height: 9.5rem;
  background: url('../images/a-3-text.png') center center no-repeat;
  background-size: contain;
  margin: -1.9rem auto 0;
}
.a-3-text .a-2-copy {
  position: absolute;
  width: 1.8rem;
  height: 2rem;
  top: 2.25rem;
  right: .4rem;
}
.text-token {
  position: absolute;
  top: 2.45rem;
  left: .75rem;
  color: #fff;
  font-size: 1rem;
  width: 8.8rem;
  height: 1.5rem;
  line-height: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  border: none;
  background: none;
  outline: none;
}
.a-3-cat {
  width: 9.05rem;
  height: 8.325rem;
  background: url('../images/a-2-cat.png') center center no-repeat;
  background-size: contain;
  margin: -0.5rem 0 0 2.75rem;
}
.pill-2 {
  display: block;
  height: 6.425rem;
  background: url('../images/pill2.png') center center no-repeat;
  background-size: contain;
  margin: 0 auto 2.75rem;
  position: relative;
}
.pill-4 {
  display: block;
  height: 9.2rem;
  background: url('../images/pill4.png') center center no-repeat;
  background-size: contain;
  margin: 0 auto;
  position: relative;
}
.pill-3 {
  display: block;
  height: 6.425rem;
  background: url('../images/pill3.png') center center no-repeat;
  background-size: contain;
  margin: 0 auto .35rem;
  position: relative;
}
.pill-3.b-4 {
  margin: 0 auto 2.75rem;
}
.pill-3.c {
  margin: 0 auto 2.25rem;
  text-align: center;
}
.pill-5 {
  display: block;
  height: 7.25rem;
  background: url('../images/pill5.png') center center no-repeat;
  background-size: contain;
  margin: -0.5rem auto 0;
  position: relative;
}
.pill-5.c {
  text-align: center;
  margin: .25rem auto 0;
}
.input-tip {
  position: absolute;
  top: 7.25rem;
  right: 50%;
  color: #fff;
  text-shadow: 1px 1px #000;
  text-align: right;
}
.input-tip h1 {
  font-size: .8rem;
}
.input-tip h1:after {
  content: '';
  display: inline-block;
  width: .55rem;
  height: .625rem;
  background: url('../images/triangle.png') center center no-repeat;
  background-size: .55rem auto;
  vertical-align: middle;
  margin: -0.15rem auto auto 0.25rem;
}
.input-tip h2 {
  font-size: .6rem;
}
